@import "../../assets/styles/functions";

.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: units(10px 0);
    }

    .button-wrapper {
        display: flex;
        justify-content: space-between;
    }
}