@import "../../assets/styles/functions";
@import "../../assets/styles/variables";

.cart-dropdown {
    position: absolute;
    width: units(240px);
    height: units(340px);
    display: flex;
    flex-direction: column;
    padding: units(20px 12px);
    border: units(1px) solid $black;
    background-color: $white;
    top: units(90px);
    right: units(60px);
    z-index: 5;

    .empty-message {
        font-size: units(18px);
        margin: units(50px) auto;
    }

    .cart-items {
        height: units(240px);
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: units(5px);
        border-radius: units(5px);
        background: $dark-grey;
    }

    button {
        margin-top: auto;
        text-transform: uppercase;
    }
}